@charset "utf-8";

/* CSS Document */
	.wc_os_customer_permission {
		width: 100%;
		float: left;
		padding: 10px 0 10px 0;
		margin: 0 0 10px 0;
		text-align: left;
	}
	
	.wc_os_customer_permission label{
		font-size: 14px;
		display:inline-block;
		padding-left: 6px;
		position: relative;
		top: 0px;
		cursor:pointer;
	
	}
	.wc_os_customer_permission label input{
		margin-right:10px;
	}
	
	.wc_os_review_order {
		border: 1px solid rgba(0,0,0,0.1);
		min-height: 100px;
		margin: 20px 0;
		padding: 10px 10px 20px 10px;
		float:left;
		width:100%;
	}
	
	.wc_os_review_order pre{
		clear:both;
	}
	.wc_os_review_order ul{
		margin:0 !important;
		padding:0 !important;
		float:left;
		width:96%;
	}
	.wc_os_review_order > ul{
		margin: 10px 0 0 0 !important;
	}
	.wc_os_review_order > ul > li{
		list-style:none;
		float:left;
		width:100%;
		position:relative;
		
	}
	.wc_os_review_order > ul > li > strong {
		margin: 12px 0 0 0;
		float: left;
	}
	.wc_os_review_order > ul > li > b {
		float:right;
		font-size:12px;
		font-weight:normal;
		text-transform:uppercase;
		margin: 12px 0 0 0;
	}
	.wc_os_review_order ul li ul{
		
	}
	.wc_os_review_order ul li ul li {
		padding: 20px 0 6px 8px;
		float: left;
		width: 100%;
		border-left: 14px solid rgba(0,0,0,0.03);
		list-style:none;
	}
	.wc_os_review_order ul li ul li .wc_os_po_left,
	.wc_os_review_order ul li ul li .wc_os_po_right{
		float:left;
	}
	.wc_os_review_order ul li ul li .wc_os_po_shipping {
		float: right;
		font-size: 12px;
		background-color: rgba(122,125,222,0.08);
		padding: 4px 2px 2px 14px;
		border-radius: 5px;
	}
	.wc_os_review_order ul li ul li .wc_os_po_shipping input[type="radio"] {
		padding: 0;
		margin: 0;
		line-height: 0;
		position: relative;
		top: 3px;
		left: -6px;
	}	
	.wc_os_review_order ul li ul li .wc_os_po_right{
		padding:0 0 0 10px;
	}
	.wc_os_review_order ul li ul li .wc_os_po_right > span{
		float:left;
		width:100%;
		font-size:12px;
		text-transform:capitalize;
		color:#FF9799;
	}
	.wc_os_review_order ul li ul li a{
		margin: 0 10px 10px 0;
		font-size:12px;
		text-decoration:none;
		box-shadow: none;
	}
	.wc_os_review_order ul li ul li a:hover{
		text-decoration:underline;		
		box-shadow: none;
	}
	.wc_os_review_order ul li ul li a img{
		height:48px;
		width:68px;
	}
	.wc_os_update_shipping_cost{
		display:none;
	}
	.cart_totals.calculated_shipping tr.fee{
		display:none;
	}
	
	div.wc_os_review_order .wos-delivery-date {
		position: absolute;
		top: 10px;
		right: 130px;		
		display:none;
	}
	div.wc_os_review_order .wos-delivery-date input[type="text"] {
		width: 120px;
		height: 30px;
		border-radius: 2px;
		padding: 4px 10px;
		font-weight:normal;
		font-size:12px;
	}
	
	/* #Tablet 780px - Mobile 320px */
    @media only screen and (min-width: 320px) and (max-width: 780px) {
		
	}
